html, body, #root, .App {
  height: 100vh;
  background-color: #ebebeb;
}


.signup-container, .login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.signup-box, .login-box {
  width: 400px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 1px 1px 4px -3px #000000a1;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-control label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.form-control input {
  font-size: 16px;
  padding: 4px 6px;
}

.submit-button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  background: #0036cc;
  border: 0;
  color: #fff;
  border-radius: 4px;
  width: 100%;
}

.text-center {
  text-align: center;
}
.route-link
{
  padding-right:10px;
  
}

/* Top navigation */
.top-nav {
  display: flex;
  list-style: none;
  flex-direction: row;
  background: #1a1a1a;
}
.top-nav-item {
    display: inline-flex;   
    margin: 0 20px 0 0;
    border-radius: 4px;
    border: 1px solid transparent;
}
.top-nav-item a
{
  text-decoration: none;
  color:#007bff;
  padding:10px;
  text-decoration: none;
  border:1px solid transparent;
 }
.top-nav-item a:hover
{
  color:#FFF;
  background-color: #007bff;
}